:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --color4: #2C75FF;
    --color5: #8F90A8;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/asset/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


main {
    grid-area: main;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.container{
    width: 40%;
}
