:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --color4: #2C75FF;
    --color5: #8F90A8;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/asset/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
main {
    grid-area: main;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.container{
    width: 80%;
    color: var(--text-color1);
    background-color: var(--color3);
    border-radius: 8px;   
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

h1 {
    justify-self: center;
    padding-bottom: 10px;
    font-size: 2.5rem;
    color: var(--text-color1);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}


form div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


form label {
    width: 30%; 
    font-weight: bold;
    margin-right: 15px;
    color: var(--text-color1);
}


form input, form select, form textarea {
    width: 70%; 
    padding: 10px;
    background-color: var(--color1);
    color: var(--text-color1);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form input::placeholder, form textarea::placeholder {
    color: #888;
    font-style: italic;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: var(--color4);
    outline: none;
}



form textarea {
    resize: none; 
}


form button.send-button {
    background-color: var(--color4);
    color: var(--text-color1);
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Audiowide", sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button.send-button:hover {
    background-color: var(--color2);
    transform: scale(1.05);
}


form input:focus, form select:focus, form textarea:focus {
    border-color:var(--color5);
    outline: none;
}



@media (max-width: 800px) {

    h1 {
        justify-self: center;
        padding-bottom: 5px;
        font-size: 2rem;
        color: var(--text-color1);
    }

    form {
        padding: 10px;
    }

    form div {
        flex-direction: column;
        align-items: flex-start;
    }

    form label {
        width: auto;
        margin-right: 0;
        margin-bottom: 5px; 
    }

    form input, form select, form textarea {
        width: 100%;
    }

    .send-button {
        width: 100%;
    }
}

