:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/assets/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    grid-area: main;
    
    max-height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px; 
}
.hud{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    list-style: none;
}
#start-btn{
    
}
#canvas {
    width: 100%;
    max-width: 600px; 
    border: 3px solid black;
    height: auto;     
    display: block;
     
}

@media (max-width: 300px) {
    #canvas {
        max-width: 300px;
        max-height: 300px; /* Ajuster la hauteur à 300px pour les petits écrans */
    }
}
#snake{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color2) ;

}
.grass{
    width: 60px;
    height: 60px;
    background-color:#3cff00 ;

}
.head{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#0051ff ; 
}
.body{
    width: 60px;
    height: 60px;
    background-color:#0051ff 

    
}
