:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --colorbtn:#557AED;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/assets/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    grid-area: main;
    
    max-height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
}


#selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#selector-container>.button {
    background-color: var(--colorbtn);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#selector-container>.button:hover {
    background-color: var(--color2);
}

#selector-container>.arrow {
    width: 36px;
    height: 36px;
}

#selector-container>.arrow svg {
    fill: var(--text-color1);
    transition: fill 0.3s ease;
}

#selector-container>.arrow:hover svg {
    fill: var(--text-color2);
}

#selector-container>.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color1);
}

#selector-container>.stagename {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#selector-container>p {
    margin: 5px 0;
    font-size: 18px;
}

#selector-container>#scoretxt, #highscoretxt {
    font-size: 16px;
}



.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px; 
}
.hud{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    list-style: none;
}
#game-screen {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative; 
    height: 100%; 
}

canvas {
    width: 100%;
    max-width: 600px;
    border: 3px solid white;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; 
}

#start-screen,
#gameover-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    padding: 2px;
    color: var(--text-color1);
    svg{
        height:  50px;
        width: 50px;
        fill: var(--text-color1);
    }
    position: absolute;
    z-index: 2; 
}
#start-screen{
    background-color: var(--colorbtn); 
   
}
#gameover-screen{
    background-color: var(--colorbtn); 
    
}
#start-screen button,
#gameover-screen button {
    background-color: #00000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.dpad {
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 20px;
}

.dpad-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: var(--colorbtn);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dpad-center{
    width: 30px;
    height: 30px;
    background-color: var(--colorbtn);
}

.dpad-btn:hover {
    background-color: var(--color2);
}

.horizontal-buttons {
    display: flex;
}



@media (max-width: 800px) {
    #canvas {
        max-width: 300px;
        max-height: 300px; 
        width: 100%; 
        height: auto;
    }
    #game-screen {
        height: auto; 
    }

    #dpad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dpad-btn {
        font-size: 24px; 
    }
}


