:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/assets/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    grid-area: main;
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#canvas{
    max-width: 600px;
    max-height: 600px; 
    border: 3px solid black;
}
#snake{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color2) ;

}
.grass{
    width: 60px;
    height: 60px;
    background-color:#3cff00 ;

}
.head{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#0051ff ; 
}
.body{
    width: 60px;
    height: 60px;
    background-color:#0051ff 
    
}
.wall{
    
}
