:root {
    --color1: #7B85CA;
    --color2: #001ac5;
    --color3: #6b7fdc;
    --colorbtn:#557AED;
    --text-color1:#ffffff;
    --text-color2:#000000;
}
@font-face {
    font-family: 'Audiowide';
    src: url('/assets/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    grid-area: main;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}
h1{
    color: var(--text-color1);
}
.container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    gap: 20px;
    
}
.container >ul{
    list-style: none;
    width: 100%;
    text-align: center;
    
    
    
}
.container a{
    
    height: 40px;
    margin: 20px;
    padding: 0.85em;
    text-decoration: none;
    color: var(--text-color1);
    display: flex;
    align-items: center;
    justify-self:auto;
    
   
    background-color: var(--colorbtn);
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}